@font-face {
font-family: BreatheFireIii;
src: url("Assets/Fonts/BreatheFireIii.ttf");
}

body
{
background-color: lightblue;
font-family: BreatheFireIii, sans-serif;
padding: 10px;
}

h2 {
text-align: center;
}

.avatar-saba, .avatar-keti {
width: 50%;
border-radius: 50%;
}

.student-name {
font-family: BreatheFireIii;
font-size: 50px;
color: black;
}
.txt, .lvl, #lvl-saba, #lvl-keti, .bar-group{
    font-family: BreatheFireIii;
    font-size: 20px;
    color: black;
}
.lvl, #lvl-saba, #lvl-keti
{
    font-size: 40px;
}
.bar-group
{
    font-size: 30px;
  
}
.lock-icon
{
    width: 3%;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    font-size: 20px;
    padding: 16px 32px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a{
    text-decoration: none;
  }

  .avatar{
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  .button-left {
    top: 0;
    left: 0;
}
/* media query for mobile devices */
@media (max-width: 768px) {
.container {
    flex-direction: column;
}
}


#body-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

input[type="password"] {
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}

.button-login {
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

/* Media queries for mobile */
@media only screen and (max-width: 600px) {
  .body-login {
      flex-direction: column;
  }
  input[type="password"], button {
      font-size: 1.5rem;
      margin: 10px;
      padding: 5px 10px;
  }
}